---
active: /projetos
---

<% current_page.data.title = project.browser_title || project.title %>
<% current_page.data.description = project.meta_description || project.short_description %>

<h1><%= project.title %></h1>
<%= image_tag(project.image) if project.image %>

<p>
  <%= project.description || project.short_description %>
  <br/>
  <br/>
  <strong>Experiências Adquiridas:</strong> <%= project.skills.join(', ') %>.
  <% if project.site %>
    <br/>
    <br/>
    Acesse o site: <%= link_to project.site, project.site, target: 'blank' %>
  <% end %>
</p>
