---
priority: 1
---

<h1>
  Olá! <br/>
  Sou o <%= data.site.me %>, desenvolvedor,<br/>
  especializado em Ruby on Rails e tecnologias web</h1>

<p>
  Nascido em Canela - RS, morando em Florianópolis - SC.
</p>
<p>

  Sou formado em Análise e Desenvolvimento de Sistemas pela <%= link_to 'Universidade de Caxias do Sul', 'http://ucs.br', target: 'blank' %>.
</p>
<p>
  Trabalho profissionalmente com web desde 2009 e já passei por algumas empresas como <%= link_to 'AgileHost', 'http://www.agilehost.com.br', target: 'blank' %>, <%= link_to 'Safetech', 'http://www.safetech.inf.br' , target: 'blank' %>, <%= link_to 'Comersite', 'http://comersite.com.br', target: 'blank' %>, <%= link_to 'Mãos do Mundo', 'http://maosdomundo.com.br', target: 'blank' %>, <%= link_to 'Orgânica Digital', 'http://organicadigital.com', target: 'blank' %>, e atualmente, <%= link_to 'Resultados Digitais', 'http://resultadosdigitais.com.br', target: 'blank' %>.

  Já tive experiências desenvolvendo diferente produtos, em diferentes linguagens e frameworks.
</p>
<p>
  Já fiz sites e alguns apps simples com <%= link_to 'PHP', 'http://php.net', target: 'blank' %>, <%= link_to 'CodeIgniter', 'http://www.codeigniter.com', target: 'blank' %> e <%= link_to 'CakePHP', 'http://cakephp.org/', target: 'blank' %>, software de gestão / ERP com <%= link_to 'Java', 'http://java.com', target: 'blank' %>, <%= link_to 'Groovy', 'http://www.groovy-lang.org/', target: 'blank' %> e <%= link_to 'Grails', 'https://grails.org/', target: 'blank' %>, e uma boa experiência imerso em <%= link_to 'Ruby', 'https://www.ruby-lang.org/en/', target: 'blank' %>, <%= link_to 'Rails', 'http://rubyonrails.org/', target: 'blank' %>, <%= link_to 'Sinatra', 'http://www.sinatrarb.com/', target: 'blank' %> e <%= link_to 'JavaScript', 'https://www.javascript.com/', target: 'blank' %>, desenvolvendo sites, ecommerces, aplicativos e SaaS.
</p>
